<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4netConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="TIMER_INTERVAL" value="10000"/>
  </appSettings>
  <log4net>
    <!-- Define some output appenders -->
    <!--
    <appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="data source=localhost; initial catalog=LOG; integrated security=false; persist security info=True;user id=admin; password=admin123"/>
      <commandText value="proc_LogInsert"/>
      <commandType value="StoredProcedure"/>
      <parameter>
        <parameterName value="@Date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}"/>
      </parameter>
      <parameter>
        <parameterName value="@Thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%thread"/>
      </parameter>
      <parameter>
        <parameterName value="@Level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout" value="%level"/>
      </parameter>
      <parameter>
        <parameterName value="@Logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="%logger"/>
      </parameter>
      <parameter>
        <parameterName value="@Message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout" value="%message"/>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@application"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout" value="KaplanSonics2Moodle"/>
      </parameter>
    </appender>-->
    <!-- RollingFileAppender looks after rolling over files by size or date -->
    <appender name="RollingLogFileAppender_info" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Users\mparambil_admin\Documents\Visual Studio 2012\Projects\MP_WS\logs\info"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=".yyyyMMddHH.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!-- RollingFileAppender looks after rolling over files by size or date -->
    <appender name="RollingLogFileAppender_debug" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Users\mparambil_admin\Documents\Visual Studio 2012\Projects\MP_WS\logs\debug"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=".yyyyMMddHH.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <!-- SMTPAppender to send email when error occurs -->
    <!--
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
      <to value="MPservice@hello.com"/>
      <from value="hello@hello.com"/>
      <subject value="Error occured in KaplanSonics2Moodle Windows Service"/>
      <smtpHost value=""/>
      <bufferSize value="512"/>
      <lossy value="false"/>
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline"/>
      </layout>
    </appender>-->
    <!-- Setup the root category, add the appenders and set the default level -->
    <!--<root>
      <level value="ALL"/>
      <appender-ref ref="AdoNetAppender_SqlServer"/>
    </root>-->
    <!-- Setup the root category, add the appenders and set the default level -->
    <logger name="MP_WS_info">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender_info"/>
    </logger>
    <logger name="MP_WS_debug">
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender_debug"/>
      <appender-ref ref="SmtpAppender"/>
    </logger>
  </log4net>
  <!-- Trace listener to capture error messages from log4net when it tries to initialise -->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\mparambil_admin\Documents\Visual Studio 2012\Projects\MP_WS\logs\trace.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>